html {
  background: white;

  color: #444;
  font-family: 'PT Sans', sans-serif;
  font-size: 15px;
  -webkit-font-smoothing: antialiased;
}

.level {
  background-color: #5cb85c;
  display: inline;
  padding: .2em .6em .3em;
  font-weight: bold;
  color: #fff;
  font-size: 20px;
  text-align: center;
  border-radius: .25em;
}

.category {
  color: white;
  margin-top: 50px;
  font-size: 20px;
}

.active-live {
  background-color: #6666ff;
  color: red;
  margin: 3px 1px;
  width: 50px;
  height: 50px;
  border: 2px solid #cccccc;
  border-radius: 5px;
  display: inline-block;

  line-height: 52px;
  text-align: center;
  text-transform: uppercase;
  
  -webkit-transition: .5s;
     -moz-transition: .5s;
       -o-transition: .5s;
      -ms-transition: .5s;
          transition: .5s;
}

.lives {
  background-color: #f2f2f2;
  color: #b3b3b3;
  margin: 3px 1px;
  width: 50px;
  height: 50px;
  border: 2px solid #cccccc;
  border-radius: 5px;
  display: inline-block;

  line-height: 52px;
  text-align: center;
  text-transform: uppercase;
  
  -webkit-transition: .5s;
     -moz-transition: .5s;
       -o-transition: .5s;
      -ms-transition: .5s;
          transition: .5s;
}

.space {
  color: black;
  background-color: transparent;
  margin: 3px 1px;
  width: 50px;
  height: 50px;
  border: none;
  display: inline-block;

  line-height: 52px;
  text-align: center;
  text-transform: uppercase;
  
  -webkit-transition: .5s;
     -moz-transition: .5s;
       -o-transition: .5s;
      -ms-transition: .5s;
          transition: .5s;
}

.blank {
  color: white;
  background-color: transparent;
  margin: 3px 1px;
  width: 50px;
  height: 50px;
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: 2px solid black;
  display: inline-block;

  line-height: 52px;
  text-align: center;
  text-transform: uppercase;
  
  -webkit-transition: .5s;
     -moz-transition: .5s;
       -o-transition: .5s;
      -ms-transition: .5s;
          transition: .5s;
}

.disabledkey {
  border-color: #cccccc;
  background-color: #f2f2f2;
  color: #b3b3b3;
}

button[disabled] {
  border-color: #cccccc;
  background-color: #f2f2f2;
  color: #b3b3b3;
}

h2 {
  position: absolute;
  margin: -200px 0 0;
  top: 50%;
  width: 100%;
  
  color: #444;
  text-align: center;
}

span {
  padding: 0 0 2px;
  border-bottom: 1px dotted #444;
  cursor: pointer;
  
  -webkit-transition: .5s;
		 -moz-transition: .5s;
			 -o-transition: .5s;
			-ms-transition: .5s;
			  	transition: .5s;
}

span:hover {
  color: #fd0;
}

.key-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -90px -294px;
}

.row {text-align: center;}

.key {
  color: white;
  background-color: #419641;
  margin: 3px 1px;
  width: 40px;
  height: 40px;
  border: 2px solid #333;
  border-radius: 5px;
  display: inline-block;
  text-align: center;
  text-transform: uppercase;
  
 	-webkit-transition: .5s;
		 -moz-transition: .5s;
			 -o-transition: .5s;
			-ms-transition: .5s;
			  	transition: .5s;
}

.k32 {
  width: 346px;
}

.active {
  border: 2px solid #fd0;
  color: #fd0;
  
  -webkit-transition: 0s;
		 -moz-transition: 0s;
			-ms-transition: 0s;
			  	transition: 0s;
}