/*--A Design by W3layouts 
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
--*/
body a{
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -o-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -ms-transition: 0.5s all;
}
html, body{
    font-size: 100%;
	font-family: 'Roboto', sans-serif;
}
body{
	background:#FFFFFF;
}
.banner{
	background: url(../img/hangman.jpg) no-repeat 0px 0px;
    background-size: cover;
}
.agileinfo-dot{
    background: url(../img/dott.png)repeat 0px 0px;
    background-size: 2px;
    -webkit-background-size: 2px;
    -moz-background-size: 2px;
    -o-background-size: 2px;
    -ms-background-size: 2px;
    padding: 3em 0;
}
.jarallax {
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}
/*-- banner --*/
/*-- header --*/
.agileits-logo {
	text-align:center;
}
.agileits-logo h1{
	margin:0;
}
.agileits-logo h1 a{
    font-size: 2em;
    text-transform: uppercase;
    color: #FF9800;
    text-decoration: none;
    font-weight: 700;
    font-family: 'Roboto Condensed', sans-serif;
    letter-spacing: 6px;
    padding: 0;
}
.agileits-logo h1 a span{
    text-transform: capitalize;
    letter-spacing: 1px;
    font-weight: 300;
    color: #FFFFFF;
}
.navbar-default {
    background: none;
    border: none;
}
.navbar {
    margin-bottom: 0;
}
.navbar-collapse {
    padding: 0;
    box-shadow: none;
}
.navbar-default .navbar-brand {
    color: #fff;
}
.navbar-nav {
    float: none;
    text-align: center;
    background: none;
    margin: 4em 0 0 0;
}
.header-top-info ul li{
    display: inline-block;
    float: none;
}
.navbar-nav li:after {
    content: "";
    position: absolute;
    background: #FFFFFF;
    height: 7px;
    width: 7px;
    top: 16px;
    left: 0;
    border-radius: 50%;
	-webkit-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	-moz-border-radius: 50%;
}
.navbar-nav li.active:after {
    background: none !important;
    width: 0px !important;
}
.navbar-default .navbar-nav > li > a {
    color: #fff;
    border: solid 2px rgba(255, 255, 255, 0);
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #ffffff;
	border: solid 2px #ffffff;
    background: none;
    border-radius: 20px;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
    color: #ffffff;
}
.navbar-nav > li > a {
    font-size: 1em;
    padding: .5em 2em;
    margin: 0 1em;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: #ffffff;
    border: solid 2px #ffffff;
    background: none;
    border-radius: 20px;
}
/*-- //header --*/
/*--slider--*/
#slider2,
#slider3 {
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  margin: 0 auto;
}
.rslides_tabs li:first-child {
  margin-left: 0;
}
.rslides_tabs .rslides_here a {
  background: rgba(255,255,255,.1);
  color: #fff;
  font-weight: bold;
}
.events {
  list-style: none;
}
.callbacks_container {
  position: relative;
  float: left;
  width: 100%;
}
.callbacks {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
}
.callbacks li {
  position: absolute;
  width: 100%;
}
.callbacks img {
  position: relative;
  z-index: 1;
  height: auto;
  border: 0;
}
.callbacks .caption {
	display: block;
	position: absolute;
	z-index: 2;
	font-size: 20px;
	text-shadow: none;
	color: #fff;
	left: 0;
	right: 0;
	padding: 10px 20px;
	margin: 0;
	max-width: none;
	top: 10%;
	text-align: center;
}
.callbacks_nav {
    position: absolute;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    bottom: 109px;
    left: 0;
    z-index: 3;
    text-indent: -9999px;
    overflow: hidden;
    text-decoration: none;
    width: 50px;
    height: 50px;
    background: transparent url(../images/arrows.png) no-repeat left top;
}
.callbacks_nav.next {
    left: auto;
    background-position: right top;
    right: 0;
 }
 .callbacks_nav.prev {
    right: auto;
    background-position: left top;
    left: 0;
}
#slider3-pager a {
  display: inline-block;
}
#slider3-pager span{
  float: left;
}
#slider3-pager span{
	width:100px;
	height:15px;
	background:#fff;
	display:inline-block;
	border-radius:30em;
	opacity:0.6;
}
#slider3-pager .rslides_here a {
  background: #FFF;
  border-radius:30em;
  opacity:1;
}
#slider3-pager a {
  padding: 0;
}
#slider3-pager li{
	display:inline-block;
}
.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
}
.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display:none;
  width: 100%;
  left: 0;
  top: 0;
}
.rslides li{
  position: relative;
  display: block;
  float: left;
}
.rslides img {
  height: auto;
  border: 0;
  }
.callbacks_tabs{
    list-style: none;
    position: absolute;
    top: 116%;
    left: 48%;
    padding: 0;
    margin: 0;
    display: block;
    z-index: 999;
}
.slider-top span{
	font-weight:600;
}
.callbacks_tabs li{
    display: inline-block;
    margin: 0;
}
/*----*/
.callbacks_tabs a{
 visibility: hidden;
}
.callbacks_tabs a:after {
    content: "\f111";
    font-size: 0;
    font-family: FontAwesome;
    visibility: visible;
    display: block;
    height: 10px;
    width: 10px;
    display: inline-block;
    background: #ffffff;
    border: 2px solid #ffffff;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -o-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
}
.callbacks_here a:after{
    background: #ff9800;
    border: 2px solid #ffffff;
}
/*-- //slider --*/
/*-- w3layouts-banner-info --*/
.w3layouts-banner-info {
    padding: 8em 0;
}
.banner_text {
    text-align: center;
}
.banner_text h3 {
    color: #FFFFFF;
    font-size: 7em;
    margin: 0;
    font-weight: 100;
    text-transform: uppercase;
}
.banner_text p {
    color: #FFFFFF;
    font-size: 1em;
    margin: 2em 0;
    letter-spacing: 2px;
}
.w3-button {
    position: relative;
    margin: 0;
    padding: 1em;
    z-index: 1;
}
.w3-button a {
    color: #FFFFFF;
    font-size: 1em;
    padding: .5em 1em;
    border: solid 2px #FF9800;
    text-decoration: none;
    border-radius: 30px;
    margin: 0;
    background:#FF9800;
}
.w3-button a:hover {
    color: #FFFFFF;
    background:none;
    border: solid 2px #FFFFFF;
}
/*-- //w3layouts-banner-info --*/
/*-- about--*/
.about,.markets,.portfolio,.testimonial-dot,.team,.blog,.mail{
    padding: 4em 0;
}
.welcome{
    border-bottom: 1px dashed #ccc;
    padding-bottom: 1em;
	text-align:center;
}
.agileits-title h2,.agileits-title h3{
    font-size: 4em;
    color: #ff9800;
    margin: 0;
    text-align: center;
    font-family: 'Roboto Condensed', sans-serif;
}
.agileits-title p {
    font-size: 1em;
    color: #999;
    line-height: 1.8em;
    margin: 1em auto 0;
    width: 65%;
} 
.about-w3lsrow {
    margin: 4em 0 0 0;
}
.w3about-img {
    background: url(../images/2.jpg)no-repeat 0px 0px;
    background-size: cover;
    min-height: 30em;
    padding: 0;
	position:relative;
}
.w3about-text {
    background: #f2f2f2;
    position: absolute;
    width: 56%;
    padding: 3em;
    right: -30%;
    top: 27%;
}
.w3about-text h5 {
    font-size: 2.5em;
    color: #212121;
    margin: 0;
} 
.w3about-text p{
	color:#999999;
	font-size:.9em;
	line-height:1.8em;
	margin:1em 0 0 0;
}
/*-- //about--*/
/*-- markets --*/
.markets{
	background: #ececec;
}
.wthree-heading h3,.agileits-top-heading h2 {
    color: #212121;
    font-size: 2.5em;
    margin: 0;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 6px;
}
.wthree-heading{
	text-align:center;
}
.markets-grids,.agileits-feedback-grids,.w3-agileits-newsletter,.team-grids,.agile-contact-form,.w3-agile-testimonial,.wthree-blog-grids,.w3_mail_grids,.agileits-team-grids{
    margin: 4em 0 0 0;
}
.agileits-icon-grid {
    padding: 2em;
    background: #FFFFFF;
    box-shadow: 0 0px 1px rgb(107, 107, 107), 0 1px 2px rgba(0,0,0,.24);
}
.icon-left{
	float: none;
    width: 70px;
    height: 70px;
    text-align: center;
    padding: 1.2em 0 0 0;
    margin: 0 auto 1em;
    background: #ff9800;
}
.icon-left i.fa{
    color: #FFFFFF;
    font-size: 2em;
}
.icon-right{
    float: none;
    width: 100%;
    text-align: center;
}
.icon-right h5{
    color: #212121;
    font-size: 1em;
    margin: 0;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 4px;
}
.icon-right p{
	color: #999999;
    font-size: .9em;
    margin: 1em 0 0 0;
    line-height: 1.8em;
}
.w3ls-markets-grid:nth-child(4),.w3ls-markets-grid:nth-child(5),.w3ls-markets-grid:nth-child(6){
	margin:3em 0 0 0;
}
/*-- //markets --*/
/*-- portfolio --*/
.filtr-item {
	padding: 0;
	width: 33.3335%;
	float: left;
}
.filtr-container {
	width: 100%;
}
.item-desc {
	background-color: rgba(0,0,0,0.5);
	color: white;
	position: absolute;
	text-transform: uppercase;
	text-align: center;
	z-index: 1;
}
.simplefilter li, .multifilter li, .sortandshuffle li {
	color: #212121;
    cursor: pointer;
    display: inline-block;
    padding: 10px 20px;
    font-size: .9em;
    font-weight: 600;
    margin: 0 0.4em;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -o-border-radius: 30px;
    -ms-border-radius: 30px;
}
.simplefilter li {
    border: 2px solid #212121;
}
.simplefilter li.active {
    border: 2px solid #ff9800;
    color: #ffffff;
    background: #ff9800;
	border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -o-border-radius: 30px;
    -ms-border-radius: 30px;
}
select {
	padding: 1rem 1rem;
	text-transform: uppercase;
}
.sortandshuffle .shuffle-btn {
	background-color: #dec800;
}
.sortandshuffle .sort-btn {
	background-color: #de0000;
}
.sortandshuffle .sort-btn.active {
	background-color: #9d0000;
}

.filtr-item {
	transform: scale(1) translate3d(0px, 0px, 0px);
	-o-transform: scale(1) translate3d(0px, 0px, 0px);
	transition: all 0.5s ease-out 0ms;
	-o-transition: all 0.5s ease-out 0ms;
	transform-style: preserve-3d;
	-o-transform-style: preserve-3d;
}
ul.simplefilter {
	text-align: center;
    margin: 4em 0 3em;
    padding: 0;
}
@media screen and (max-width:991px) {
	.filtr-item {
		float: left;
		width: 33.33%;
	}
	.simplefilter li, .multifilter li, .sortandshuffle li {
		padding: 10px 13px;
		font-size: 1em;
	}
}
@media screen and (max-width:768px) {
	.filtr-item {
		float: left;
		width: 50%;
	}
	.simplefilter li, .multifilter li, .sortandshuffle li {
		padding: 8px 10px;
		font-size: 0.9em;
		letter-spacing: 0px;
	}
}
@media screen and (max-width:600px) {
	.filtr-item {
		padding: 0em;
	}
	ul.simplefilter {
		margin-bottom: 0em;
	}
	.simplefilter li, .multifilter li, .sortandshuffle li {
		margin-bottom: 1em;
	}
}
@media screen and (max-width:414px) {
	ul.simplefilter {
		margin-bottom: 0em;
	}
	.filtr-item {
		width: 100%;
	}
	.simplefilter li, .multifilter li, .sortandshuffle li {
		padding: 4px 4px;
		font-size: 0.8em;
		letter-spacing: 0px;
		margin-bottom: 1em;
	}
}
.portfolio figure {
	margin: 0;
	padding: 0;
	position: relative;
	display: block;
	cursor: pointer;
	overflow: hidden;
}
.portfolio figure:hover figcaption {
	-ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
	filter: alpha(opacity=100);
	opacity: 1;
	-webkit-transform: rotate(0);
	-moz-transform: rotate(0);
	-o-transform: rotate(0);
	-ms-transform: rotate(0);
	transform: rotate(0);
	top: 0;
}
.portfolio figcaption {
	-ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
	filter: alpha(opacity=0);
	opacity: 0;
	position: absolute;
	height: 100%;
	width: 100%;
	top: -100%;
	background: rgba(0,0,0,.5);
	color: #fff;
	-webkit-transition: all .5s ease;
	-moz-transition: all .5s ease;
	-o-transition: all .5s ease;
	-ms-transition: all .5s ease;
	transition: all .5s ease;
	-webkit-transition-delay: .5s;
	-moz-transition-delay: .5s;
	-o-transition-delay: .5s;
	-ms-transition-delay: .5s;
	transition-delay: .5s;
	-webkit-transform: rotate(360deg);
	-moz-transform: rotate(360deg);
	-o-transform: rotate(360deg);
	-ms-transform: rotate(360deg);
	transform: rotate(360deg);
}
.portfolio figcaption h3 {
    color: #FFF;
    text-align: center;
    margin-bottom: 0;
    font-size: 2em;
    letter-spacing: 3px;
    font-weight: 700;
	font-family: 'Roboto Condensed', sans-serif;
    text-transform: uppercase;
    position: relative;
    margin-top: 105px;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    -ms-transition: all .5s;
    transition: all .5s;
    -webkit-transition-delay: 1s;
    -moz-transition-delay: 1s;
    -o-transition-delay: 1s;
    -ms-transition-delay: 1s;
    transition-delay: 1s;
}
.portfolio figcaption h3 span{
	text-transform: capitalize;
    letter-spacing: 1px;
    font-weight: 300;
}
.portfolio figure:hover h3 {
	left: 0;
}
.portfolio figcaption a {
	color: #fff;
	border: 2px solid #fff;
	padding: 4px 10px;
	text-decoration: none;
}
.portfolio figcaption a:hover {
	color: #4f5856;
	background: #fff;
}
/*-- //portfolio --*/
/*-- model --*/
.agileits-w3layouts-info img{
	width:100%;
}
.modal-header h4 {
    margin: 0;
    font-size: 2em;
    text-transform: uppercase;
    color: #FF9800;
    text-decoration: none;
    font-weight: 700;
    font-family: 'Roboto Condensed', sans-serif;
    letter-spacing: 6px;
    padding: 0;
}
.modal-header h4 span{
	text-transform: capitalize;
    letter-spacing: 1px;
    font-weight: 300;
    color: #212121;
}
.modal-body p{
    margin: 1em 0 0 0;
    font-size: .875em;
    color: #999999;
    line-height: 1.8em;
}
/*-- //model --*/
/*-- testimonial --*/
.testimonial{
	background:url(../images/1.jpg) no-repeat 0px 0px;
	background-size:cover;
}
.testimonial-dot{
    background: url(../images/dott.png)repeat 0px 0px;
    background-size: 2px;
    -webkit-background-size: 2px;
    -moz-background-size: 2px;
    -o-background-size: 2px;
    -ms-background-size: 2px;
}
.testimonial-heading h3{
	color:#FFFFFF;
}
.testimonial-heading h5{
	color:#FFFFFF;
}
.testimonial-img-grid{
    width: 28%;
    margin: 0 auto;
}
.testimonial-img{
	float: left;
    width: 26.33%;
}
.testimonial-img:nth-child(2){
	margin:0 2em;
}
.testimonial-img img{
	width:100%;
	border-radius:50%;
	-webkit-border-radius:50%;
	-ms-border-radius:50%;
	-moz-border-radius:50%;
	-o-border-radius:50%;
}
.t-img1 img,.t-img2 img{
	opacity: 0.6;
}
.testimonial-img-info{
	margin:2em 0 0 0;
}
.testimonial-img-info{
	text-align:center;
}
.testimonial-img-info p{
    color: #FFFFFF;
    font-size: .9em;
    margin:0 auto;
	width:60%;
    line-height: 1.8em;	
}
.testimonial-img-info h5{
    color: #FFFFFF;
    font-size: 1em;
    margin: 1em 0;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 4px;
}
.testimonial-img-info h6{
	color: #FFFFFF;
    font-size: .9em;
    margin: 1em 0;
    font-style: italic;
}
/*-- //testimonial --*/
/*-- team --*/
.team-heading h4{
    color: rgba(255, 255, 255, 0.47);
}
.team-info{
    position: relative;
    overflow: hidden;	
}
.team-info img{
	width:100%;
}
.team-caption h4{
    color: #FFFFFF;
    font-size: 1.5em;
    margin: .5em 0 0 0;
    font-family: 'Roboto Condensed', sans-serif;
}
.team-caption p{
    color: #eaeaea;
    font-size: .9em;
    margin: 0;
}
.team-caption ul{
    padding: 0;
    margin: 1em 0 0 0;
}
.team-caption ul li{
    display: inline-block;
}
.team-caption ul li a {
	color: #333;
    text-align: center;
}
.team-caption ul li a i.fa.fa-facebook{
    height: 30px;
    width: 30px;
    line-height: 30px;
    border: solid 2px #FFF;
    background: none;
    color: #FFF;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}
.team-caption ul li a i.fa.fa-facebook:hover {
    background: #3b5998;
}
.team-caption ul li a i.fa.fa-twitter{
    height: 30px;
    width: 30px;
    line-height: 30px;
    border: solid 2px #FFF;
    background: none;
    color: #FFF;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}
.team-caption ul li a i.fa.fa-twitter:hover{
	background: #55acee;
}
.team-caption ul li a i.fa.fa-rss{
    height: 30px;
    width: 30px;
    line-height: 30px;
    border: solid 2px #FFF;
    background: none;
    color: #FFF;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}
.team-caption ul li a i.fa.fa-rss:hover{
	background: #f26522;
}
.team-caption {
    background: #FF9800;
    padding: 1em;
    position: absolute;
    left: 0;
    bottom: -105%;
    text-align: center;
    width: 100%;
    height: 154px;
    -webkit-transition: .5s all;
    transition: .5s all;
    -moz-transition: .5s all;
}
.team-info:hover .team-caption{
    bottom: 0%;
}
.team-info:hover .team-caption {
    bottom: 0%;
}
/*-- //team --*/
/*-- blog --*/
.blog{
	background: #ececec;
} 
.blog-left h4{
    color: #FF9800;
    margin: 0 0 1em 0;
    font-size: 2.5em;
    font-weight: 800;
}
.blog-left ul{
	padding:0;
	margin:1em 0 0 0;
}
.blog-left ul li{
    display: block;
    color: #212121;
    font-size: .9em;
    margin: .5em 0;
}
.blog-left ul li a{
    color: #FF9800;
    text-decoration: none;
    -o-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}
.blog-left ul li a:hover{
	color:#212121;
}
.blog-left ul li a:focus,.blog-right a:focus,.date-text a:focus{
	outline:none;
}
.blog-right a {
	line-height: 1.5em;
    color: #212121;
    font-size: 1em;
    margin: 0;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 500;
    letter-spacing: 1px;
    -o-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}
.blog-right a:hover{
	color: #FF9800;
}
.blog-right p {
    color: #999999;
    margin: 1em 0 0 0;
    font-size: .9em;
    line-height: 1.8em;
}
/*-- //blog --*/
/*-- mail --*/
.w3_mail_grids textarea{
    outline: none;
    padding: 10px;
    color: #212121;
    font-size: 14px;
    border: none;
    border-bottom: 2px solid #212121;
    background: none;
    width: 97.3%;
    margin: 0 0 3em 1.1em;
    min-height: 150px;
    resize: none;
    font-weight: 600;
}
.w3_mail_grids textarea::-webkit-input-placeholder {
	color: #212121 !important;
}
.w3_mail_grids input[type="submit"]{
    outline: none;
    padding: .5em 1em;
    color: #ffffff;
    letter-spacing: 2px;
    font-size: 1em;
    border: none;
    text-transform: uppercase;
    background: #FF9800;
	border: 2px solid #FF9800;
    font-weight: 600;
	-o-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}
.w3_mail_grids input[type="submit"]:hover{
	color:#212121;
	border: 2px solid #212121;
	background:none;
}
.input {
    position: relative;
    z-index: 1;
    display: inline-block;
    margin: 1em;
    max-width: 30%;
    width: calc(100% - 2em);
    vertical-align: top;
}

.input__field {
	position: relative;
	display: block;
	float: right;
	padding: 0.8em;
	width: 60%;
	border: none;
	border-radius: 0;
	background: #f0f0f0;
	color: #aaa;
	-webkit-appearance: none; /* for box shadows to show on iOS */
}

.input__field:focus {
	outline: none;
}

.input__label {
	display: inline-block;
    padding: 0 1em;
    width: 40%;
    color: #212121;
    font-weight: 600;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.input__label-content {
	position: relative;
	display: block;
	padding: 1.6em 0;
	width: 100%;
}
/* Jiro */
.input__field--jiro {
	padding:1em 0.5em;
	width: 100%;
	background: transparent;
	color: #212121;
    font-size: 14px;
	opacity: 0;
	-webkit-transition: opacity 0.3s;
	transition: opacity 0.3s;
}

.input__label--jiro {
	position: absolute;
	left: 0;
	padding: 0 0.85em;
	width: 100%;
	height: 100%;
	text-align: left;
	pointer-events: none;
	font-size: 14px;
}

.input__label-content--jiro {
	-webkit-transition: -webkit-transform 0.3s 0.3s;
	transition: transform 0.3s 0.3s;
}

.input__label--jiro::before,
.input__label--jiro::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	-webkit-transition: -webkit-transform 0.3s;
	transition: transform 0.3s;
}

.input__label--jiro::before {
    border-top: 2px solid #212121;
    -webkit-transform: translate3d(0, 100%, 0) translate3d(0, -2px, 0);
    transform: translate3d(0, 100%, 0) translate3d(0, -2px, 0);
    -webkit-transition-delay: 0.3s;
    transition-delay: 0.3s;
}

.input__label--jiro::after {
	z-index: -1;
	background:#f5f5f5;
	-webkit-transform: scale3d(1, 0, 1);
	transform: scale3d(1, 0, 1);
	-webkit-transform-origin: 50% 0%;
	transform-origin: 50% 0%;
}

.input__field--jiro:focus,
.input--filled .input__field--jiro {
	opacity: 1;
	-webkit-transition-delay: 0.3s;
	transition-delay: 0.3s;
}

.input__field--jiro:focus + .input__label--jiro .input__label-content--jiro,
.input--filled .input__label-content--jiro {
	-webkit-transform: translate3d(0, -80%, 0);
	transform: translate3d(0, -80%, 0);
	-webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
	transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
}

.input__field--jiro:focus + .input__label--jiro::before,
.input--filled .input__label--jiro::before {
	-webkit-transition-delay: 0s;
	transition-delay: 0s;
}

.input__field--jiro:focus + .input__label--jiro::before,
.input--filled .input__label--jiro::before {
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}

.input__field--jiro:focus + .input__label--jiro::after,
.input--filled .input__label--jiro::after {
	-webkit-transform: scale3d(1, 1, 1);
	transform: scale3d(1, 1, 1);
	-webkit-transition-delay: 0.3s;
	transition-delay: 0.3s;
	-webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
	transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
}
/*-- //mail --*/
/*-- contact --*/ 
.contact-w3lsleft.map {
    padding: 0;
}
.address-row {
    margin-top: 3em;
}
.contact-w3lsright {
	padding: 6em 6em;
    background: #ececec;
}
.contact-w3lsright h6 {
	line-height: 1.5em;
    color: #212121;
    font-size: 1.5em;
    margin: 0;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 500;
    letter-spacing: 1px;
}
.address-left {
    padding: 0;
    text-align: center;
}
.address-right {
    padding-left: 2em;
}
.address-row span.glyphicon {
    font-size: 1em;
    border: 1px solid #afafaf;
    padding: 1.6em 1em;
    color: #212121;
    -webkit-transition: .5s all;
    -moz-transition: .5s all;
    -o-transition: .5s all;
    -ms-transition: .5s all;
    transition: .5s all;
}
.address-row:hover span.glyphicon {
    border-color: #FF9800;
    color: #FF9800;
    -webkit-transform: rotatey(360deg);
    -moz-transform: rotatey(360deg);
    transform: rotatey(360deg);
    -o-transform: rotatey(360deg);
    -ms-transform: rotatey(360deg);
}
.address-row h5 {
	font-size: 1em;
    color: #212121;
    margin: 0 0 1em 0;
    font-weight: 600;
}
.address-right p{
	color:#999999;
	font-size:.9em;
	margin:0;
	line-height:1.8em;
}
.address-right p a {
    color: #FF9800;
	text-decoration:none;
}
.address-right p a:hover{
    color: #212121;
} 
.map iframe {
    width: 100%;
    min-height: 526px;
    border: none;
    margin-bottom: -.5em;
}
/*-- //contact --*/
/*-- footer --*/ 
.footer{
	background: #333;
	padding:4em 0;
}  
.footer-title h3 {
    font-size: 1.5em;
    display: inline-block;
    color: #fff;
    letter-spacing: 2px;
    margin: 0;
    font-family: 'Roboto Condensed', sans-serif;
}
.amet-sed p {
    margin: 2em 0 0 0;
    color: #999999;
    font-size: .9em;
    line-height: 1.8em;
} 
.amet-medium p a{
    color: #FF9800;
    text-decoration: none;
 }
.amet-medium p a:hover{
	color:#FFFFFF;
}
.amet-sed .w3social-icons {
    margin-top: 1em;
}
.support input[type="email"] {
    width: 65%;
    padding: .5em 1em;
    font-size: 1em;
    text-align: left;
    font-weight: 400;
    border: 2px solid #fff;
    outline: none;
    margin: 0;
    -webkit-appearance: none;
    background: #fff;
}
.support input[type="submit"]{
	background: #FF9800;
    cursor: pointer;
    border: 2px solid #FF9800;
    color: #fff;
    font-weight: 400;
    font-size: 1em;
    padding: .5em 1em;
    text-align: center;
    -webkit-appearance: none;
    outline: none;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}
.support input[type="submit"]:hover{
	background:none;
	border: 2px solid #FFFFFF;
	color:#FFFFFF;
}
.support {
    margin: 1em 0em 0 0;
    background-color: rgb(45, 45, 45);
    padding: 1em 1em;
} 
/*-- social-icons --*/
.agileinfo-social-grids{
    margin:2em 0 0 0;
}
.agileinfo-social-grids ul{
	padding:0;
	margin:0;
}
.agileinfo-social-grids ul li{
    display: inline-block;
}
.agileinfo-social-grids ul li a {
	color: #FFFFFF;
    text-align: center;
}
.agileinfo-social-grids ul li a i.fa{
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}
.agileinfo-social-grids ul li a i.fa.fa-facebook:hover {
    color: #3b5998;
}
.agileinfo-social-grids ul li a i.fa.fa-twitter{
	margin:0 1em;
}
.agileinfo-social-grids ul li a i.fa.fa-twitter:hover{
	color: #55acee;
}
.agileinfo-social-grids ul li a i.fa.fa-rss{
	margin:0 1em 0 0;
}
.agileinfo-social-grids ul li a i.fa.fa-rss:hover{
	color: #f26522;
}
.agileinfo-social-grids ul li a i.fa.fa-vk:hover{
	color: #45668e;
}
/*-- //footer --*/
/*-- copyright --*/
.copyright{
	background:#212121;
	padding:1em 0;
}
.copyright p{
	color:#FFFFFF;
	font-size:.9em;
	text-align:center;
	margin:0;
}
.copyright p a{
	color:#ff9800;
}
.copyright p a:hover{
	color:#FFFFFF;
}
/*-- //copyright --*/
/*-- to-top --*/
#toTop {
	display: none;
	text-decoration: none;
	position: fixed;
	bottom: 20px;
	right: 2%;
	overflow: hidden;
	z-index: 999; 
	width: 40px;
	height: 40px;
	border: none;
	text-indent: 100%;
	background: url(../images/arrow.png) no-repeat 0px 0px;
}
#toTopHover {
	width: 40px;
	height: 40px;
	display: block;
	overflow: hidden;
	float: right;
	opacity: 0;
	-moz-opacity: 0;
	filter: alpha(opacity=0);
}
/*-- //to-top --*/
/*-- responsive --*/
@media(max-width:1080px){
	.w3about-text {
		width: 63%;
		right: -35%;
	}
	.portfolio figcaption h3 {
		margin-top: 87px;
	}
	.input {
		max-width: 29.5%;
	}
	.testimonial-img-grid {
		width: 35%;
	}
	.address-row {
		padding-left: 0;
	}
	.contact-w3lsright {
		padding: 3em 3em;
	}
	.map iframe {
		min-height: 516px;
	}
	.support input[type="email"] {
		width: 54%;
	}
}
@media(max-width:991px){
	.navbar-nav > li > a {
		padding: .5em 1em;
		margin: 0 .8em;
	}
	.banner_text h3 {
		font-size: 5em;
	}
	.w3layouts-banner-info {
		padding: 5em 0;
	}
	.w3about-text {
		width: 89%;
	}
	.w3ls-markets-grid:nth-child(2),.w3ls-markets-grid:nth-child(3),.w3ls-markets-grid:nth-child(4),.w3ls-markets-grid:nth-child(5),.w3ls-markets-grid:nth-child(6) {
		margin: 2em 0 0 0;
	}
	.testimonial-img-grid {
		width: 50%;
	}
	.portfolio figcaption h3 {
		margin-top: 70px;
	}
	.testimonial-img-info p {
		width: 85%;
	}
	.agileits-title p {
		width: 95%;
	}
	.agileits-team-grid {
		float: left;
		width: 50%;
		margin-bottom: 2em;
	}
	.agileits-team-grid:nth-child(3),.agileits-team-grid:nth-child(4){
		margin:0;
	}
	.w3-agileits-blog-grid:nth-child(2) {
		margin: 2em 0 0 0;
	}
	.amet-medium {
		margin: 2em 0;
	}
	.support input[type="email"] {
		width: 83%;
	}
	.input {
		max-width: 28.5%;
	}
}
@media(max-width:768px){
	.callbacks_tabs {
		left: 47%;
	}
	.portfolio figcaption h3 {
		margin-top: 100px;
	}
}
@media(max-width:736px){
	.agileits-logo h1 a {
		font-size: 1.5em;
	}
	.navbar-toggle {
		float: none;
		margin-right: 0;
	}
	.navbar {
		text-align: center;
	}
	.navbar-nav {
	    margin: 1em 0;
	}
	.header-top-info ul li {
		display: block;
	}
	.navbar-nav li:after {
		background: none;
	}
	.navbar-default .navbar-collapse, .navbar-default .navbar-form {
	    border: none;
		position: absolute;
		width: 100%;
		background: rgba(0, 0, 0, 0.84);
		z-index: 9999;
	}
	.navbar-default .navbar-toggle {
		border-color: #fff;
	}
	.navbar-default .navbar-toggle .icon-bar {
		background-color: #fff;
	}
	.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
		background: #FF9800;
	}
	.input {
		max-width: 28%;
	}
	.w3about-text {
		width: 60%;
		right: 0;
	}
	.support input[type="email"] {
		width: 82%;
	}
	.navbar-nav > li > a {
		margin: 1em .5em;
	}
}
@media(max-width:667px){
	.input {
		max-width: 27.5%;
	}
	.support input[type="email"] {
		width: 80%;
	}
}
@media (max-width:640px) {
	.support input[type="email"] {
		width: 78%;
	}
}
@media(max-width:600px){
	.banner_text h3 {
		font-size: 4em;
	}
	.w3layouts-banner-info {
		padding: 4em 0;
	}
	.w3about-text {
		width: 72%;
	}
	.portfolio figcaption h3 {
		margin-top: 75px;
	}
	.testimonial-img-grid {
		width: 60%;
	}
	.input {
		max-width: 27%;
	}
	.map iframe {
		min-height: 350px;
	}
	.support input[type="email"] {
		width: 77%;
	}
}
@media(max-width:568px){
	.input {
		max-width: 26%;
	}
	.support input[type="email"] {
		width: 75%;
	}
}
@media(max-width:480px){
	.agileits-logo h1 a {
		font-size: 1.2em;
	}
	.navbar-nav > li > a {
		margin: .5em .5em;
	}
	.navbar-nav > li > a {
		margin: .5em .5em;
	}
	.callbacks_tabs {
		left: 45%;
		top: 108%;
	}
	.agileinfo-dot {
		padding: 2em 0;
	}
	.w3layouts-banner-info {
		padding: 3em 0;
	}
	.portfolio figcaption h3 {
		margin-top: 60px;
		font-size: 1.5em;
	}
	.testimonial-img:nth-child(2) {
		margin: 0 1em;
	}
	.testimonial-img-info p {
		width: 95%;
	}
	.agileits-title h2, .agileits-title h3 {
		font-size: 3em;
	}
	.blog-left h4 {
		font-size: 2em;
	}
	.input {
		max-width: 100%;
	}
	.w3_mail_grids textarea {
		width: 93.3%;
		margin: 1em;
	}
	.contact-w3lsright h6 {
	    font-size: 1em;
	}
	.address-row {
		float: none;
		width: 100%;
		margin-top: 2em;
	}
	.support input[type="email"] {
		width: 70%;
	}
	.callbacks_nav {
		width: 35px;
		height: 35px;
		background: transparent url(../images/arrows.png) no-repeat left top;
		background-size: 203%;
	}
	.w3about-text {
		padding: 2em;
	}
}
@media(max-width:414px){
	.banner_text h3 {
		font-size: 3em;
	}
	.w3about-img {
		min-height: 22em;
	}
	.w3about-text {
		padding: 1em;
	}
	.w3about-text h5 {
		font-size: 2em;
	}
	.w3about-text {
		top: 20%;
	}
	.about, .markets, .portfolio, .testimonial-dot, .team, .blog, .mail {
		padding: 2em 0;
	}
	.markets-grids, .agileits-feedback-grids, .w3-agileits-newsletter, .team-grids, .agile-contact-form, .w3-agile-testimonial, .wthree-blog-grids, .w3_mail_grids,.agileits-team-grids {
		margin: 2em 0 0 0;
	}
	ul.simplefilter {
		margin: 2em 0 2em;
	}
	.portfolio figcaption h3 {
		margin-top: 105px;
	}
	.agileits-title h2, .agileits-title h3 {
		font-size: 2.5em;
	}
	.team-caption h4 {
		font-size: 1.2em;
	}
	.blog-left h4 {
		font-size: 1.2em;
	}
	.address-right {
		padding-left: 1em;
	}
	.about-w3lsrow {
		margin: 2em 0 0 0;
	}
	.support input[type="email"] {
		width: 62%;
	}
}
@media(max-width:384px){
	.agileits-logo h1 a {
		font-size: 1em;
	}
	.banner_text p {
		margin: 1em 0;
		letter-spacing: 1px;
	}
	.callbacks_nav {
		bottom: 25px;
	}
	.w3layouts-banner-info {
		padding: 2em 0;
	}
	.callbacks_tabs {
		left: 44%;
	}
	.agileits-icon-grid {
		padding: 1em;
	}
	.portfolio figcaption h3 {
		margin-top: 95px;
	}
	.agileits-team-grid {
		float: none;
		width: 100%;
		margin-bottom: 2em !important;
	}
	.agileits-team-grid:nth-child(4) {
		margin: 0 !important;
	}
	.blog-left {
		float: none;
		width: 100%;
	}
	.blog-right {
		float: none;
		width: 100%;
		margin: 1em 0 0 0;
	}
	.address-right {
		padding-left: 1.5em;
		padding-right: 0;
	}
	.footer {
		padding: 2em 0;
	}
	.support input[type="email"] {
		width: 58%;
	}
	.agileits-title p {
		font-size: .9em;
	}
}
@media(max-width:320px){
	.agileits-logo h1 a {
		font-size: .9em;
	}
	.banner_text h3 {
		font-size: 2em;
	}
	.callbacks_tabs {
		left: 43%;
	}
	.w3-button {
		padding: .5em;
	}
	.w3about-text {
		width: 87%;
	}
	.portfolio figcaption h3 {
		margin-top: 80px;
	}
	.agileits-title h2, .agileits-title h3 {
		font-size: 2em;
	}
	.blog-left {
		padding: 0;
	}
	.blog-right {
		padding: 0;
	}
	.blog-right a {
		font-size: .9em;
	}
	.w3_mail_grids input[type="submit"] {
		font-size: .9em;
	}
	.contact-w3lsright {
		padding: 2em;
	}
	.support input[type="email"] {
		width: 100%;
	}
	.support input[type="submit"] {
		margin: 1em 0 0 0;
	}
}
/*-- //responsive --*/