<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Symfony - Hangman{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        {% block link %}
            <link rel="stylesheet" type="text/css" href="{{ asset('bootstrap/css/bootstrap.css') }}">
            <link rel="stylesheet" type="text/css" href="{{ asset('css/letters.css') }}">
            <link href="{{ asset('css/bootstrap.css') }}" rel="stylesheet" type="text/css" media="all" />
            
            <link rel="stylesheet" href="{{ asset('css/style.css') }}" type="text/css" media="all" />
            <link href="{{ asset('css/font-awesome.css') }}" rel="stylesheet"> 
            <link rel="stylesheet" href="{{ asset('css/chocolat.css') }}" type="text/css" media="all">
            <link href="{{ asset('//fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i') }}" rel="stylesheet">
            <link href="{{ asset('//fonts.googleapis.com/css?family=Roboto+Condensed:400,700italic,700,400italic,300italic,300') }}" rel='stylesheet' type='text/css'>
        {% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}
            <script src="{{ asset('bootstrap/js/jquery-min.js') }}"></script>
            <script src="{{ asset('bootstrap/js/bootstrap.min.js') }}"></script>
            <script src="{{ asset('js/hangman.js') }}"></script>
            <script src="{{ asset('js/jquery-1.11.1.min.js') }}"></script>
            <script src="{{ asset('js/bootstrap.js') }}"></script>
            <script src="{{ asset('js/jarallax.js') }}"></script>
            <script src="{{ asset('js/SmoothScroll.min.js') }}"></script>
            <script src="{{ asset('js/responsiveslides.min.js') }}"></script>
            <script type="text/javascript" src="{{ asset('js/move-top.js') }}"></script>
            <script type="text/javascript" src="{{ asset('js/easing.js') }}"></script>
            <script src="{{ asset('js/jquery.filterizr.js') }}"></script>
            <script src="{{ asset('js/controls.js') }}"></script>
            <script src="{{ asset('js/jquery.chocolat.js') }}"></script>
        {% endblock %}
    </body>
</html>
