{% extends 'base.html.twig' %}

	{% block body %}
	<div class="banner">
		<div class="agileinfo-dot">
			<div class="agileits-logo">
				<h1><a><span>Hangman</span></a></h1>
			</div>
		 <div class="header-top">
                <div class="container">
                    <div class="header-top-info">
                        <nav class="navbar navbar-default navbar fixed-top">
                            <!-- Brand and toggle get grouped for better mobile display -->
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                                    <span class="sr-only">Toggle navigation</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                            </div>

                            <!-- Collect the nav links, forms, and other content for toggling -->
                            <div class="collapse navbar-collapse nav-wil" id="bs-example-navbar-collapse-1">
                                <nav>
                                    <ul class="nav navbar-nav">
                                       <li><a href="/Hangman" class="scroll">Play Hangman</a></li>
                                        <li><a href="/Developer" class="scroll">Developers</a></li>
                                         <li><a href="/Instruction" class="scroll">Instruction</a></li>
                                         <li><a href="/Ranking" class="scroll">Ranking</a></li>
                                       
                                    </ul>
                                </nav>
                            </div>
                            
                        </nav>
                    </div>
                </div>
            </div>
            <div class="team" id="team">
		<div class="container">
			<div class="agileits-title"> 
				<h3>Developers</h3> 
			</div>
			<div class="agileits-team-grids">
				<div class="col-md-3 agileits-team-grid">
					<div class="team-info">
						<img src="img/rocel.jpg" alt="">
						<div class="team-caption"> 
							<h4>Rocel Bustillo</h4>
							
							<ul>
								<li><a href="https://www.facebook.com/rocel.bustillo.7"><i class="fa fa-facebook"></i></a></li>
								
							</ul>
						</div>
					</div>
				</div>
				<div class="col-md-3 agileits-team-grid">
					<div class="team-info">
						<img src="img/andrew.jpg" alt="">
						<div class="team-caption"> 
							<h4>Mark Andrew Mendoza</h4>
							
							<ul>
								<li><a href="https://www.facebook.com/markandrew.mendoza.10"><i class="fa fa-facebook"></i></a></li>
								
							</ul>
						</div>
					</div>
				</div>
				
				<div class="col-md-3 agileits-team-grid">
					<div class="team-info">
						<img src="img/paula1.jpg" alt="">
						<div class="team-caption"> 
							<h4>Angelica Paula Vertudez</h4>
							
							<ul>
								<li><a href="https://www.facebook.com/bham.vertudez"><i class="fa fa-facebook"></i></a></li>
								
							</ul>
						</div>
					</div>
				</div>
				<div class="col-md-3 agileits-team-grid">
					<div class="team-info">
						<img src="img/jm.jpg" alt="">
						<div class="team-caption"> 
							<h4>John Mark Villanueva</h4>
							
							<ul>
								<li><a href="https://www.facebook.com/SpiderMac.03"><i class="fa fa-facebook"></i></a></li>
								
							</ul>
						</div>
					</div>
				</div>
				</div>
				</div>



				<div class="clearfix"> </div>
				<div class="container">
				<div class="agileits-team-grids">
				<div class="col-md-3 agileits-team-grid">
					<div class="team-info">
						<img src="img/pat.jpg" alt="">
						<div class="team-caption"> 
							<h4>Patrick Indemne</h4>
							
							<ul>
								<li><a href="https://www.facebook.com/Patindem"><i class="fa fa-facebook"></i></a></li>
								
							</ul>
						</div>
					</div>
				</div>
				<div  class="col-md-3 agileits-team-grid">
					<div class="team-info">
						<img src="img/eric.jpg" alt="">
						<div class="team-caption"> 
							<h4>Eric Dela Cruz</h4>
							
							<ul>
								<li><a href="https://www.facebook.com/DC.Zac"><i class="fa fa-facebook"></i></a></li>
								
							</ul>
						</div>
					</div>
				</div>

				<div class="col-md-3 agileits-team-grid">
					<div class="team-info">
						<img src="img/liao.jpg" alt="">
						<div class="team-caption"> 
							<h4>Jaro Borja Liao</h4>
							
							<ul>
								<li><a href="https://www.facebook.com/1434jaro"><i class="fa fa-facebook"></i></a></li>
								
							</ul>
						</div>
					</div>
				</div>
				</div>
				</div>
				
				<div class="clearfix"> </div>
			
			</div>
		</div>
	</div>
	</div>
	<nav class="navbar navbar-fixed-bottom">
		<div class="copyright">
		<div class="container">
			<p class="footer-class">© 2017 Hangman . All Rights Reserved | Design by  <a href="http://w3layouts.com/" target="_blank">W3layouts</a> </p>
		</div>
	</div>
	</nav>
	{% endblock %}