{% extends 'base.html.twig' %}

	{% block body %}
	<div class="banner">
		<div class="agileinfo-dot">
			<div class="agileits-logo">
				<h1><a><span>Hangman</span></a></h1>
			</div>
		 	<div class="header-top">
                <div class="container">
                    <div class="header-top-info">
                        <nav class="navbar navbar-default">
                            <!-- Brand and toggle get grouped for better mobile display -->
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                                    <span class="sr-only">Toggle navigation</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                            </div>

                            <!-- Collect the nav links, forms, and other content for toggling -->
                            <div class="collapse navbar-collapse nav-wil" id="bs-example-navbar-collapse-1">
                                <nav>
                                    <ul class="nav navbar-nav">
                                        <li><a href="/Hangman" class="scroll">Play Hangman</a></li>
                                        <li><a href="/Developer" class="scroll">Developers</a></li>
                                         <li><a href="/Instruction" class="scroll">Instruction</a></li>
                                         <li><a href="/Ranking" class="scroll">Ranking</a></li>
                                        
                                    </ul>
                                </nav>
                            </div>
                            
                        </nav>
                    </div>
                </div>
            </div>

		<div  class="container">
			<div class="col-xs-2"></div>
			<div class="col-xs-8">
				<div class="row">
					<label id="live4" class="lives">✖</label>
					<label id="live3" class="lives">✖</label>
					<label id="live2" class="lives">✖</label>
					<label id="live1" class="lives">✖</label>
				</div>
				<div class="row">
					<label class="category" id="category"><label>
				</div>
				<div class="row" id="hangman">
				</div>
				<div class="row" style="margin-top: 50px;">
					<button id="btnA" class="key">A</button>
					<button id="btnB" class="key">B</button>
					<button id="btnC" class="key">C</button>
					<button id="btnD" class="key">D</button>
					<button id="btnE" class="key">E</button>
					<button id="btnF" class="key">F</button>
					<button id="btnG" class="key">G</button>
					<button id="btnH" class="key">H</button>
					<button id="btnI" class="key">I</button>
				</div>
				<div class="row">
					<button id="btnJ" class="key">J</button>
					<button id="btnK" class="key">K</button>
					<button id="btnL" class="key">L</button>
					<button id="btnM" class="key">M</button>
					<button id="btnN" class="key">N</button>
					<button id="btnO" class="key">O</button>
					<button id="btnP" class="key">P</button>
					<button id="btnQ" class="key">Q</button>
					<button id="btnR" class="key">R</button>
				</div>
				<div class="row">
					<button id="btnS" class="key">S</button>
					<button id="btnT" class="key">T</button>
					<button id="btnU" class="key">U</button>
					<button id="btnV" class="key">V</button>
					<button id="btnW" class="key">W</button>
					<button id="btnX" class="key">X</button>
					<button id="btnY" class="key">Y</button>
					<button id="btnZ" class="key">Z</button>
				</div>
				<div class="row" id="next_div">
				</div>
			</div>
			<div class="col-xs-2">
				<label id="level" class="level"></label>
			</div>
		</div>

		<div class="modal fade" id="gameover_modal" role="dialog">
		    <div class="modal-dialog">
		        <div class="modal-content">
		            <div class="modal-body">
		            	<div class="row">
			            	<h3 style="color: red;">Game Over!!!</h3>
		            	</div>

		            	<div class="row">
			            	<h4 id="view_answer" style="color: #5bc0de;">The Word is: </h4>
		            	</div>
		            	<br>
		            	<div class="row">
		            		<div class="col-xs-2"></div>
		            		<div class="col-xs-8">
								{{ form_start(form) }}
								{{ form_widget(form) }}
								{{ form_end(form) }}
							</div>
		            	</div>
		            </div>
		        </div>
		    </div>
		</div>

		<div class="modal fade" id="complete_modal" role="dialog">
		    <div class="modal-dialog">
		        <div class="modal-content">
		            <div class="modal-body">
		            	<div class="row">
			            	<h3 style="color: #5cb85c;">Congratulations...</h3>
			            	<p style="color: #5cb85c;">You Have Finished Our Game!!!</p>
		            	</div>
		            	<div class="row">
			            	<h4 style="color: #5bc0de;">Your Details: </h4>
							{{ form_start(newform) }}
							{{ form_widget(newform) }}
							{{ form_end(newform) }}
		            	</div>
		            </div>
		        </div>
		    </div>
		</div>

		<div class="modal fade" id="congrats_modal" role="dialog">
		    <div class="modal-dialog">
		        <div class="modal-content">
		            <div class="modal-body">
		            	<div class="row">
			            	<h3 style="color: #5cb85c;">Congratulations...</h3>
			            	<p style="color: #5cb85c;">You Have Guessed the Word.</p>
		            	</div>
		            	<div class="row">
		            		<button id="next_level" class="btn btn-info">Proced to next level.</button>
		            	</div>
		            </div>
		        </div>
		    </div>
		</div>
		
		
		</div>
	</div>

		</div>
		<nav class="navbar navbar-fixed-bottom">
		<div class="copyright">
		<div class="container">
			<p class="footer-class">© 2017 Hangman . All Rights Reserved | Design by  <a href="http://w3layouts.com/" target="_blank">W3layouts</a> </p>
		</div>
	</div>
	</nav>
	{% endblock %}