{% extends 'base.html.twig' %}

	{% block body %}
	<div class="banner">
		<div class="agileinfo-dot">
			<div class="agileits-logo">
				<h1><a><span>Hangman</span></a></h1>
			</div>
		 <div class="header-top">
                <div class="container">
                    <div class="header-top-info">
                        <nav class="navbar navbar-default">
                            <!-- Brand and toggle get grouped for better mobile display -->
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                                    <span class="sr-only">Toggle navigation</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                            </div>

                            <!-- Collect the nav links, forms, and other content for toggling -->
                            <div class="collapse navbar-collapse nav-wil" id="bs-example-navbar-collapse-1">
                                <nav>
                                    <ul class="nav navbar-nav">
                                        <li><a href="/Hangman" class="scroll">Play Hangman</a></li>
                                        <li><a href="/Developer" class="scroll">Developers</a></li>
                                         <li><a href="/Instruction" class="scroll">Instruction</a></li>
                                         <li><a href="/Ranking" class="scroll">Ranking</a></li>
                                        
                                    </ul>
                                </nav>
                            </div>
                            
                        </nav>
                    </div>
                </div>
            </div>

		

		       

		
			

		</div>
		
		</div>
	</div>

		</div>
		<div class="container">
		<div class="welcome">
				<div class="agileits-title"> 

		            	
		            		
		            	
		            		<p style="color: black;">Welcome to Hangman!! So just like other hangman, you need to guess the word with only 4 tries and only category is your hint.
		            		So you need to use your brain again :) so you can solve this easy
		            		peasy game. This game only have 10 stages so you need to solve, solve, solve before your lives run out :O so goodluck!!</p>
		            	</div>
		 </div>
		  </div>
		<nav class="navbar navbar-fixed-bottom">
		<div class="copyright">
		<div class="container">
			<p class="footer-class">© 2017 Hangman . All Rights Reserved | Design by  <a href="http://w3layouts.com/" target="_blank">W3layouts</a> </p>
		</div>
	</div>
	</nav>
	{% endblock %}